<!DOCTYPE html>
<html lang="en">

<%- include('_head.ejs') %>

<body>
  <div class="d-flex">
    <header>
      <nav>
        <a href=""><img src="../assets/images/logo-ANSWER.svg" alt="" srcset=""></a>
        <ul class="list-unstyled">
          <li><a class="d-flex align-items-center" href="">
              <i class="material-icons">insert_chart</i><span>Dashboard</span></a></li>
          <li><a class="d-flex align-items-center" href=""><i
                class="material-icons">forum</i><span>Assignment</span></a></li>
          <li><a class="d-flex align-items-center" href=""><i
                class="material-icons">assignment</i><span>Course</span></a></li>
          <li><a class="d-flex align-items-center" href=""><i
                class="material-icons">video_library</i><span>Question</span></a></li>
          <li><a class="d-flex align-items-center" href=""><i
                class="material-icons">supervisor_account</i><span>Admin</span></a></li>
          <li><a class="d-flex align-items-center" href=""><i
                class="material-icons">settings</i><span>Settings</span></a></li>
        </ul>
      </nav>
    </header>
    <main> <%-contents%></main>
  </div>

  <%- include('../assets/vendor/bootstrap/_script') %>
</body>

</html>